<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script>
      $(document).ready(function(){

      })
    </script>
  </head>
  <body>
        <img src="/images/gc1.jpg" alt="Green Car 1" height="300" width="300">
        <img src="/images/gc18.jpg" alt="Green Car 18" height="300" width="300">
        <img src="/images/gc44.jpg" alt="Green Car 44" height="300" width="300">
  </body>
</html>