<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script>
      $(document).ready(function(){

      })
    </script>
  </head>
  <body>
        <a href='/cats/1'><img src="/images/notrealcat.png" alt="Not a real cat" height="300" width="300"></a>
        <a href='/cats/2'><img src="/images/omgkitty.jpg" alt="omg Kitty" height="300" width="300">
  </body>
</html>
